
<!-- <div class="sales-container mat-elevation-z4">

    <h2>Sales Overview</h2>
    <canvas id="salesChart"></canvas>
  </div>
   -->
   <div>
    <h2>Sales Data</h2>
    <!-- <input type="string" #yearInput placeholder="Enter year" />
    <button (click)="fetchSalesData(yearInput.value)">Fetch Sales Data</button> -->
    <div>
      <!-- <h3>Sales and Revenue Chart</h3> -->
      <canvas id="salesChart" ></canvas>
    </div>
  </div>
  
  <div class="inventory-container mat-elevation-z4">
    <h2>Inventory Overview</h2>
    <canvas id="inventoryChart"></canvas>
  </div>
  